{% extends 'base.html' %} 
{% block content %}
<h1 class="mt-1 px-1">Create Vlan</h1>
{% include '_alerts.html' %}
<form action="{% url 'create_vlan' %}" method='POST'>
  <!-- Security Token  -->
  {% csrf_token %}
    <div class="form-group px-1">
      <label for="Vlan_number">Vlan number</label>
      <input type="number" step="1" class="form-control" id="exampleFormControlInput1" placeholder="1 - 4096" name ="vlan_number" required>
    </div>
    <div class="form-group px-1 ">
      <label for="Vlan_name" class="font-weight-bold">Vlan name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Vlan name" name ="vlan_name" required>
    </div>
    <div class="form-group px-1">
      <label for="exampleFormControlSelect1">Example select</label>
      <select class="form-control" id="exampleFormControlSelect1">
        {% for device in devices %}
          <option>{{ device.hostname }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    <!-- <input type="submit" value="Register" class="btn btn-secondary btn-block"> -->
</form>
{% endblock %}