{% extends 'base.html' %} {% block content %}
<form>
    <h1 class="mt-1 px-1">Create Vlan</h1>
    <div class="form-group px-1 font-weight-bold">
      <label for="Vlan_id"class="font-weight-bold">Vlan id</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Number in range 1 - 4096">
    </div>
    <div class="form-group px-1 ">
        <label for="Vlan_name" class="font-weight-bold">Vlan name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Vlan name">
      </div>
    <div class="form-group px-1">
      <label for="exampleFormControlSelect1">Example select</label>
      <select class="form-control" id="exampleFormControlSelect1">
        {% for device in devices %}
        <option>{{ device.hostname }} ({{ device.ip_address }}) </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group px-1">
      <label for="exampleFormControlSelect2">Example multiple select</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group px-1">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
{% endblock %}